
##Goesi_Country_Blocking
<IfModule mod_geoip.c>
SetEnvIf GEOIP_COUNTRY_CODE CN BlockCountry
SetEnvIf GEOIP_COUNTRY_CODE HK BlockCountry
SetEnvIf GEOIP_COUNTRY_CODE NG BlockCountry
SetEnvIf GEOIP_COUNTRY_CODE PK BlockCountry
SetEnvIf GEOIP_COUNTRY_CODE RU BlockCountry
SetEnvIf GEOIP_COUNTRY_CODE SD BlockCountry
SetEnvIf GEOIP_COUNTRY_CODE SY BlockCountry
SetEnvIf GEOIP_COUNTRY_CODE TW BlockCountry
SetEnvIf GEOIP_COUNTRY_CODE YE BlockCountry
SetEnvIf GEOIP_COUNTRY_CODE AF AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AX AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AL AllCountry
SetEnvIf GEOIP_COUNTRY_CODE DZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AD AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AQ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AW AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AU AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BH AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BD AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BB AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BY AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BJ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BQ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BW AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BV AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE IO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BF AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KH AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CV AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KY AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CF AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TD AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CL AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CX AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CC AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CD AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CK AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE HR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CU AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CW AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CY AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE DK AllCountry
SetEnvIf GEOIP_COUNTRY_CODE DJ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE DM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE DO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE EC AllCountry
SetEnvIf GEOIP_COUNTRY_CODE EG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SV AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GQ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ER AllCountry
SetEnvIf GEOIP_COUNTRY_CODE EE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ET AllCountry
SetEnvIf GEOIP_COUNTRY_CODE FK AllCountry
SetEnvIf GEOIP_COUNTRY_CODE FO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE FJ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE FI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE FR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GF AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PF AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TF AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE DE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GH AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GL AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GD AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GP AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GU AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GW AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GY AllCountry
SetEnvIf GEOIP_COUNTRY_CODE HT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE HM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE VA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE HN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE HU AllCountry
SetEnvIf GEOIP_COUNTRY_CODE IS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE IN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ID AllCountry
SetEnvIf GEOIP_COUNTRY_CODE IR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE IQ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE IE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE IM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE IL AllCountry
SetEnvIf GEOIP_COUNTRY_CODE IT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE JM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE JP AllCountry
SetEnvIf GEOIP_COUNTRY_CODE JE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE JO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KP AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KW AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LV AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LB AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LY AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LU AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MK AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MW AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MY AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MV AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ML AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MH AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MQ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MU AllCountry
SetEnvIf GEOIP_COUNTRY_CODE YT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MX AllCountry
SetEnvIf GEOIP_COUNTRY_CODE FM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MD AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MC AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ME AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NP AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NL AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NC AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NU AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NF AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MP AllCountry
SetEnvIf GEOIP_COUNTRY_CODE NO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE OM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PW AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PY AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PH AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PL AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE QA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE RE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE RO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE RW AllCountry
SetEnvIf GEOIP_COUNTRY_CODE BL AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SH AllCountry
SetEnvIf GEOIP_COUNTRY_CODE KN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LC AllCountry
SetEnvIf GEOIP_COUNTRY_CODE MF AllCountry
SetEnvIf GEOIP_COUNTRY_CODE PM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE VC AllCountry
SetEnvIf GEOIP_COUNTRY_CODE WS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ST AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE RS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SC AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SL AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SX AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SK AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SB AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ZA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SS AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ES AllCountry
SetEnvIf GEOIP_COUNTRY_CODE LK AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SJ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE SE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE CH AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TJ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TH AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TL AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TK AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TO AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TT AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TR AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TC AllCountry
SetEnvIf GEOIP_COUNTRY_CODE TV AllCountry
SetEnvIf GEOIP_COUNTRY_CODE UG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE UA AllCountry
SetEnvIf GEOIP_COUNTRY_CODE AE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE GB AllCountry
SetEnvIf GEOIP_COUNTRY_CODE US AllCountry
SetEnvIf GEOIP_COUNTRY_CODE UM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE UY AllCountry
SetEnvIf GEOIP_COUNTRY_CODE UZ AllCountry
SetEnvIf GEOIP_COUNTRY_CODE VU AllCountry
SetEnvIf GEOIP_COUNTRY_CODE VE AllCountry
SetEnvIf GEOIP_COUNTRY_CODE VN AllCountry
SetEnvIf GEOIP_COUNTRY_CODE VG AllCountry
SetEnvIf GEOIP_COUNTRY_CODE VI AllCountry
SetEnvIf GEOIP_COUNTRY_CODE WF AllCountry
SetEnvIf GEOIP_COUNTRY_CODE EH AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ZM AllCountry
SetEnvIf GEOIP_COUNTRY_CODE ZW AllCountry
deny from env=BlockCountry
allow from env=AllCountry
</IfModule>
##Goesi_Country_Blocking
